# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.lock

# iOS
**/ios/Pods/
**/ios/Podfile.lock
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec

# Android
**/android/.gradle/
**/android/local.properties

# Claude
.claude/
